html,body
{ 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	background: rgb(198, 198, 198) none repeat scroll 0% 0%;
}
 
body
{
	display: table;
	width: 100%;
}

.clase-general
{
	display: table-row;
}

footer
{
	background: #333; height: 100px;
}

.navbar-inverse
{
    background-color: #333;
    border-color: #333;
}

.row
{
	margin-top: 70px;
}

.logout
{
	float: right;
}

a
{
	color: white;
}

#personal_data_form
{
	width: 500px;
	float: left;
	margin-left: 150px;
}

#pay_bill_form
{
	width: 500px;
	float: right;
	margin-right: 150px;
	margin-top: -217;
}


#generate_list
{
  margin-top: 90px;
}

.table-bordered
{
	overflow-y: auto;
	height: 240px;
	width: 252%;
	display: -moz-grid;
}

#generate_bills
{
	margin-top: -14px;
}

.data_panel
{
	color: #000;
	
}

.labelError
{
	color: rgb(243, 69, 32);
}