{% extends "base.html" %}
{%  block title %}
Crear personas
{% endblock %}

{% block imports %}
	{% load static from staticfiles %}
		
	<script src="{% static 'js/person/person.js' %}"></script>

{% endblock %}


{% block content %}


	<form id="person_form" name="person_form" enctype="multipart/form-data" class="form-horizontal" role="form">
		{% csrf_token %}

		<div class="form-group">
			<label class="col-md-4 control-label" for="first_name">Nombres</label>
			<div class="col-md-4">
				{{form.name}}
			</div>
			<label id="first_nameLabelError" class="labelError"></label>

		</div>	
			
		<div class="form-group">
			<label class="col-md-4 control-label" for="first_name">Apellidos</label>
			<div class="col-md-4">
				{{form.last_name}}
			</div>
			<label id="last_nameLabelError" class="labelError"></label>
		</div>

		<div class="form-group">				
			<label class="col-md-4 control-label">Tipo de documento</label>
			<div class="col-md-4">
				{{ form.document_number}}
			</div>
			<label id="document_typeLabelError" class="labelError"></label>					
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="singlebutton"></label>
			<div class="col-md-4">
				<input type="button" value="guardar" onclick="guardar()" id="save_form" class="btn btn-success btn-block" >
			</div>
		</div>							

	</form>	
	

{% endblock %}