<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% load static from staticfiles %}
	
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
		<script src="{% static 'js/jquery-ui.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

	{% block imports %} {% endblock %}

</head>
<body>
	<div class="clase-general">

		{% if user.is_authenticated %}

		<ul class="nav nav-pills navbar navbar-inverse">
			<li><a href="/">Inicio</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="">Personas
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'create_person' %}">crear personas</a></li>
					<li><a href="#">listar personas</a></li>

				</ul>
			</li>
			<ul class="logout"><a>{{user.username}}</a>
				<li><a href="/logout/">cerrar sesion</a></li>	
			</ul>
		</ul>
			{% block content %}	{% endblock %}

		{% else %}
			<ul class="nav nav-pills navbar navbar-inverse">
			
			</ul>
			<div class="container">
			    <div class="row">
					<div class="col-md-4 col-md-offset-4">
			    		<div class="panel panel-default data_panel">
						  	<div class="panel-heading">
						    	<h3 class="panel-title">BIENVENIDOS</h3>
						 	</div>
						  	<div class="panel-body">
						    	<form accept-charset="UTF-8" role="form" id="form" method="POST">
			    				{% csrf_token %}

				                    <fieldset>
							    	  	<div class="form-group">
							    		    <input class="form-control" placeholder="nombre de usuario" name="username" id="username" type="text">
							    		</div>
							    		<div class="form-group">
							    			<input class="form-control" placeholder="contrasena" name="password" type="password" id="password">
							    		</div>
							    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Ingresar">
							    		{% if form.errors %}
											<label class="labelError">Tu nombre de usuario o contraseña estan inconrrectos</label>
										{% endif %}
							    	</fieldset>
						      	</form>
						    </div>
							<div class="panel-footer">No estas registrado? <a href="#" class="" style="color: rgb(51, 122, 183);">Registrate aqui</a>
							</div>						    
						</div>
					</div>
				</div>
			</div>		
		
		{% endif %}
	</div>	
</body>

<footer class="clase-general">
	<p>Footer</p>
	{% block footer %}

	{% endblock %}

</footer>
</html>
